<h1>Admins#edit</h1>
<p>Find me in app/views/admins/edit.html.erb</p>
<%= form_for @admin do |f| %>
    <%= f.label :username, "Admin Name" %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :image, "Upload an image" %>
    <%= f.file_field :image %>
    <br>
    <%= f.submit "Edit" %>
<% end %>